<div class="panel panel-default" ng-repeat="item in ctl.$peer.connections">
    <div class="panel panel-heading">
        <a class="h4" data-toggle="collapse" href="#chat">Chat {{ item.peer_id }}</a>
        <a ng-click="ctl.closeConnection(item);"><i class="fa fa-times fa-lg fa-inverse fa-fw pull-right"></i></a>
    </div>
    <div id="chat" class="panel panel-body">
        <div ng-repeat="msg in item.data.chat.messages">
            <div ng-show="msg.peer !== ctl.$peer.peer_id">
                <h4><span class="label label-success">Them:</span></h4><span>{{ msg.data }}</span>
            </div>
            <div ng-show="msg.peer === ctl.$peer.peer_id" class="pull-right">
                <h4><span class="label label-info">You:</span></h4><span>{{ msg.data }}</span>
            </div>
        </div>
    </div>
    <div class="panel panel-footer">
        <form>
            <div class="input-group">
                <input ng-model="ctl.chat_next" type="text" class="form-control" />
                <span class="input-group-btn" id="basic-addon1">
              						<button ng-click="ctl.send(item);" type="submit" class="btn btn-send btn-default">
										<i class="fa fa-fw fa-lg fa-share fa-inverse"></i>
									</button>
            					</span>
            </div>
            <div class="btn-group">
                <button ng-click="ctl.call(item);" type="button" class="btn btn-success"><i class="fa fa-phone fa-3"></i> 
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <button ng-click="ctl.video(item);" class="btn btn-success"><i class="fa fa-video-camera fa-3"></i>
                    </button>
                </div>
                <!-- <div ng&#45;show="ctl.$peer.peers.connection !== undefined &#38;&#38; ctl.$peer.peers.connection[item.peer_id] !== undefined &#38;&#38; ctl.$peer.peers.connection[item.peer_id].remote_stream !== undefined"> -->
                <button ng-click="ctl.hangUp(item);" type="button" class="btn btn-danger"><i class="fa fa-phone fa-3 fa-rotate-135"></i> 
                </button>
            </div>
        </form>
    </div>
</div>
