<div class="panel">
    <div class="panel-body">
        <ul>
            <li class="list-unstyled" ng-repeat="item in ctl.$peer.peers.list | filter:ctl.$peer.peerlist.filter">
                <button ng-show="item.data !== undefined" class="btn btn-block btn-success" ng-click="ctl.connect(item);">
                    <span class="badge pull-left"><i 
						class="fa fa-check-circle-o fa-fw fa-lg"></i></span>
                    {{item.peer_id}}
                </button>
                <button ng-show="item.data === undefined" class="btn btn-block btn-default" ng-click="ctl.connect(item);">
                    <span class="badge pull-left"><i 
						class="fa fa-info fa-fw fa-lg"></i></span>
                    {{item.peer_id}}
                </button>
            </li>
        </ul>
    </div>
</div>
